/*
  Por padrão, esconde qualquer botão que esteja inserido
  dentro de uma linha de DataGrid do MUI
*/
.MuiDataGrid-row button {
  visibility: hidden;
}

/*
  Mas, se o ponteiro do mouse estiver sobre a linha (hover),
  exibe novamente os botões
*/
.MuiDataGrid-row:hover button {
  visibility: visible;
}

.form-fields {
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fields .MuiFormControl-root {
  min-width: 250px;
  max-width: 600px;
  width: 600px;
  margin-bottom: 36px;
}
.switch-label {
  display: flex;
  flex-direction: column; /* Coluna para alinhar o Switch abaixo do rótulo */
  width: 40%; /* Defina a largura desejada */
  margin-left: 0 auto; /* Empurra o campo para a direita */
  margin-bottom: 16px; /* Adicione margem inferior para separar dos outros campos */
  flex-wrap: wrap;
}


